## RandomForestClassifier with Pipelining and Hyperparameter Tuning

In [1]:
import seaborn as sns

In [3]:
df = sns.load_dataset('tips')

In [4]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [6]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [9]:
df['time'] = encoder.fit_transform(df['time'])

In [10]:
df.time.unique()

array([0, 1])

In [12]:
X = df.drop('time',axis = 1)
y = df.time

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test  = train_test_split(X,y,test_size=0.3,random_state=0)