In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("Datasets/space_cleaned.csv")
df.drop('Unnamed: 0',axis = 1,inplace = True)

In [15]:
X_test = df[df['Transported'].isnull()]
X_test.drop('Transported',axis = 1,inplace  = True)

C:\Users\Sameer\AppData\Local\Temp\ipykernel_17240\2452115130.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test.drop('Transported',axis = 1,inplace  = True)

In [17]:
X_train = df[~df['Transported'].isnull()]
y_train = X_train['Transported']
X_train.drop('Transported',axis = 1,inplace  = True)

C:\Users\Sameer\AppData\Local\Temp\ipykernel_17240\1764310835.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train.drop('Transported',axis = 1,inplace  = True)

In [18]:
X_train

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Deck,Num,Side
0,2,0,1,39,0,0.0,0.0,0.0,0.0,0.0,2,0,1
1,1,0,1,24,0,109.0,9.0,25.0,549.0,44.0,6,0,0
2,2,0,1,58,1,43.0,3576.0,0.0,6715.0,49.0,1,0,0
3,2,0,1,33,0,0.0,1283.0,371.0,3329.0,193.0,1,0,0
4,1,0,1,16,0,303.0,70.0,151.0,565.0,2.0,6,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,2,0,3,41,1,0.0,6819.0,0.0,1643.0,74.0,1,98,1
8689,1,1,2,18,0,0.0,0.0,0.0,0.0,0.0,7,1499,0
8690,1,0,1,26,0,0.0,0.0,1872.0,1.0,0.0,7,1500,0
8691,2,0,3,32,0,0.0,1049.0,0.0,353.0,3235.0,5,608,0
8692,2,0,1,44,0,126.0,4688.0,0.0,0.0,12.0,5,608,0

In [27]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
dtc = DecisionTreeClassifier()

In [28]:
clf = dtc.fit(X_train_scaled,y_train)

In [29]:
y_train = y_train.astype(bool)

In [30]:
pred = clf.predict(X_test)

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

In [ ]:
df_sub =