In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_train = pd.read_csv('Datasets/train.csv')

In [3]:
df_test = pd.read_csv('Datasets/test.csv')

In [4]:
df_train

,id,N_Days,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage,Status
0,0,999,D-penicillamine,21532,M,N,N,N,N,2.3,316.0,3.35,172.0,1601.0,179.80,63.0,394.0,9.7,3.0,D
1,1,2574,Placebo,19237,F,N,N,N,N,0.9,364.0,3.54,63.0,1440.0,134.85,88.0,361.0,11.0,3.0,C
2,2,3428,Placebo,13727,F,N,Y,Y,Y,3.3,299.0,3.55,131.0,1029.0,119.35,50.0,199.0,11.7,4.0,D
3,3,2576,Placebo,18460,F,N,N,N,N,0.6,256.0,3.50,58.0,1653.0,71.30,96.0,269.0,10.7,3.0,C
4,4,788,Placebo,16658,F,N,Y,N,N,1.1,346.0,3.65,63.0,1181.0,125.55,96.0,298.0,10.6,4.0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7900,7900,1166,D-penicillamine,16839,F,N,N,N,N,0.8,309.0,3.56,38.0,1629.0,79.05,224.0,344.0,9.9,2.0,C
7901,7901,1492,Placebo,17031,F,N,Y,N,N,0.9,260.0,3.43,62.0,1440.0,142.00,78.0,277.0,10.0,4.0,C
7902,7902,1576,D-penicillamine,25873,F,N,N,Y,S,2.0,225.0,3.19,51.0,933.0,69.75,62.0,200.0,12.7,2.0,D
7903,7903,3584,D-penicillamine,22960,M,N,Y,N,N,0.7,248.0,2.75,32.0,1003.0,57.35,118.0,221.0,10.6,4.0,D
7904,7904,1978,D-penicillamine,19237,F,N,N,N,N,0.7,256.0,3.23,22.0,645.0,74.40,85.0,336.0,10.3,3.0,C

In [5]:
df = df_train.append(df_test)

C:\Users\Sameer\AppData\Local\Temp\ipykernel_14312\925505788.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df_train.append(df_test)

In [6]:
df

,id,N_Days,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage,Status
0,0,999,D-penicillamine,21532,M,N,N,N,N,2.3,316.0,3.35,172.0,1601.0,179.80,63.0,394.0,9.7,3.0,D
1,1,2574,Placebo,19237,F,N,N,N,N,0.9,364.0,3.54,63.0,1440.0,134.85,88.0,361.0,11.0,3.0,C
2,2,3428,Placebo,13727,F,N,Y,Y,Y,3.3,299.0,3.55,131.0,1029.0,119.35,50.0,199.0,11.7,4.0,D
3,3,2576,Placebo,18460,F,N,N,N,N,0.6,256.0,3.50,58.0,1653.0,71.30,96.0,269.0,10.7,3.0,C
4,4,788,Placebo,16658,F,N,Y,N,N,1.1,346.0,3.65,63.0,1181.0,125.55,96.0,298.0,10.6,4.0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5266,13171,2870,Placebo,12279,F,N,N,N,N,1.3,302.0,3.43,75.0,1345.0,145.00,44.0,181.0,10.6,3.0,NaN
5267,13172,1770,Placebo,24803,F,N,N,N,N,0.5,219.0,4.09,121.0,663.0,79.05,94.0,311.0,9.7,3.0,NaN
5268,13173,3707,D-penicillamine,16990,F,N,Y,N,N,0.8,315.0,4.09,13.0,1637.0,170.50,70.0,426.0,10.9,3.0,NaN
5269,13174,1216,Placebo,11773,F,N,N,N,N,0.7,329.0,3.80,52.0,678.0,57.00,126.0,306.0,10.2,1.0,NaN
5270,13175,2272,D-penicillamine,21600,F,N,N,N,N,2.0,232.0,3.42,18.0,1636.0,170.50,83.0,213.0,13.6,2.0,NaN

In [8]:
df.drop('id',axis = 1,inplace = True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13176 entries, 0 to 5270
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   N_Days         13176 non-null  int64
 1   Drug           13176 non-null  int64
 2   Age            13176 non-null  int64
 3   Sex            13176 non-null  object
 4   Ascites        13176 non-null  object
 5   Hepatomegaly   13176 non-null  object
 6   Spiders        13176 non-null  object
 7   Edema          13176 non-null  object
 8   Bilirubin      13176 non-null  float64
 9   Cholesterol    13176 non-null  float64
 10  Albumin        13176 non-null  float64
 11  Copper         13176 non-null  float64
 12  Alk_Phos       13176 non-null  float64
 13  SGOT           13176 non-null  float64
 14  Tryglicerides  13176 non-null  float64
 15  Platelets      13176 non-null  float64
 16  Prothrombin    13176 non-null  float64
 17  Stage          13176 non-null  float64
 18  Status         7905 non-null   object
dtypes: float64(10), int64(3), object(6)
memory usage: 2.0+ MB

In [11]:
df['Drug'].unique()

array(['D-penicillamine', 'Placebo'], dtype=object)

In [15]:
df['Drug'] = df['Drug'].map({'D-penicillamine':0, 'Placebo':1})

In [13]:
df['Drug'].isnull().sum()

0

In [21]:
df['Sex'] = df['Sex'].map({'M':1, 'F':0})

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13176 entries, 0 to 5270
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   N_Days         13176 non-null  int64
 1   Drug           13176 non-null  int64
 2   Age            13176 non-null  int64
 3   Sex            13176 non-null  int64
 4   Ascites        13176 non-null  int64
 5   Hepatomegaly   13176 non-null  int64
 6   Spiders        13176 non-null  int64
 7   Edema          13176 non-null  object
 8   Bilirubin      13176 non-null  float64
 9   Cholesterol    13176 non-null  float64
 10  Albumin        13176 non-null  float64
 11  Copper         13176 non-null  float64
 12  Alk_Phos       13176 non-null  float64
 13  SGOT           13176 non-null  float64
 14  Tryglicerides  13176 non-null  float64
 15  Platelets      13176 non-null  float64
 16  Prothrombin    13176 non-null  float64
 17  Stage          13176 non-null  float64
 18  Status         7905 non-null   object
dtypes: float64(10), int64(7), object(2)
memory usage: 2.0+ MB

In [23]:
df['Ascites'].unique()

array(['N', 'Y'], dtype=object)

In [26]:
df['Ascites'] = df['Ascites'].map({'N':0, 'Y':1})

In [31]:
df['Hepatomegaly'] = df['Hepatomegaly'].map({'N':0, 'Y':1})

In [37]:
df['Spiders'] = df['Spiders'].map({'N':0, 'Y':1})

In [43]:
df['Edema'] = df['Edema'].map({'N':2, 'Y':1, 'S':0})

In [42]:
df['Edema'].isnull().sum()

0

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13176 entries, 0 to 5270
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   N_Days         13176 non-null  int64
 1   Drug           13176 non-null  int64
 2   Age            13176 non-null  int64
 3   Sex            13176 non-null  int64
 4   Ascites        13176 non-null  int64
 5   Hepatomegaly   13176 non-null  int64
 6   Spiders        13176 non-null  int64
 7   Edema          13176 non-null  int64
 8   Bilirubin      13176 non-null  float64
 9   Cholesterol    13176 non-null  float64
 10  Albumin        13176 non-null  float64
 11  Copper         13176 non-null  float64
 12  Alk_Phos       13176 non-null  float64
 13  SGOT           13176 non-null  float64
 14  Tryglicerides  13176 non-null  float64
 15  Platelets      13176 non-null  float64
 16  Prothrombin    13176 non-null  float64
 17  Stage          13176 non-null  float64
 18  Status         7905 non-null   object
dtypes: float64(10), int64(8), object(1)
memory usage: 2.0+ MB

In [86]:
df

,N_Days,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage,Status
0,999,0,21532,1,0,0,0,2,2.3,316.0,3.35,172.0,1601.0,179.80,63.0,394.0,9.7,3.0,D
1,2574,1,19237,0,0,0,0,2,0.9,364.0,3.54,63.0,1440.0,134.85,88.0,361.0,11.0,3.0,C
2,3428,1,13727,0,0,1,1,1,3.3,299.0,3.55,131.0,1029.0,119.35,50.0,199.0,11.7,4.0,D
3,2576,1,18460,0,0,0,0,2,0.6,256.0,3.50,58.0,1653.0,71.30,96.0,269.0,10.7,3.0,C
4,788,1,16658,0,0,1,0,2,1.1,346.0,3.65,63.0,1181.0,125.55,96.0,298.0,10.6,4.0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5266,2870,1,12279,0,0,0,0,2,1.3,302.0,3.43,75.0,1345.0,145.00,44.0,181.0,10.6,3.0,NaN
5267,1770,1,24803,0,0,0,0,2,0.5,219.0,4.09,121.0,663.0,79.05,94.0,311.0,9.7,3.0,NaN
5268,3707,0,16990,0,0,1,0,2,0.8,315.0,4.09,13.0,1637.0,170.50,70.0,426.0,10.9,3.0,NaN
5269,1216,1,11773,0,0,0,0,2,0.7,329.0,3.80,52.0,678.0,57.00,126.0,306.0,10.2,1.0,NaN
5270,2272,0,21600,0,0,0,0,2,2.0,232.0,3.42,18.0,1636.0,170.50,83.0,213.0,13.6,2.0,NaN

In [90]:
df['Status'] = df['Status'].map({'D':1, 'C':2, 'CL':0})

In [88]:
df['Status'].value_counts()

C     4965
D     2665
CL     275
Name: Status, dtype: int64

In [91]:
# df_train_data = 
df_test_X = df[df['Status'].isnull()]

In [92]:
df_train_X = df[~df['Status'].isnull()]

In [93]:
df_train_y = df_train_X['Status']

In [94]:
df_train_X.drop('Status',axis = 1,inplace  = True)

C:\Users\Sameer\AppData\Local\Temp\ipykernel_14312\3022140498.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_X.drop('Status',axis = 1,inplace  = True)

In [95]:
df_test_X.drop('Status',axis = 1,inplace  = True)

C:\Users\Sameer\AppData\Local\Temp\ipykernel_14312\2415691432.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_X.drop('Status',axis = 1,inplace  = True)

In [96]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [97]:
# X_train_scaled = sc.fit_transform(X_train)
# X_test_scaled = sc.transform(X_test)
X_train, X_test, y_train, y_test = train_test_split(df_train_X, df_train_y, test_size=0.33, random_state=42)

In [61]:
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

In [62]:
from sklearn.linear_model import LogisticRegression

In [98]:
log_reg  = LogisticRegression()

In [99]:
log_reg.fit(X_train_scaled,y_train)

LogisticRegression()

In [100]:
out = log_reg.predict(X_test)

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [102]:
out

array([1., 1., 1., ..., 1., 1., 1.])

In [106]:
out = pd.DataFrame(out)
out.columns

RangeIndex(start=0, stop=1, step=1)

In [108]:
out.value_counts()

1.0    2609
dtype: int64